body{
    background-color:  rgb(5, 61, 61);
}

.tbl{
    border-collapse:collapse;
    width:50%;
    margin-left: 25%;
    text-align: center;
}

.tbl thead{
    background:#1ABC9C;
}

th,td{
    text-align:center;
    padding:5px 0;
  }

.homeButton {
    width: auto;
    height: 56px;
    margin: 0;
    font-size: 28px;
    font-family: 'Bebas Neue';
    background: linear-gradient(45deg, transparent 5%, #41a1d8 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    text-align: center;
    position: relative;
}

.homeButton:hover{
  background: linear-gradient(45deg, transparent 5%, #9cb5c4 5%);
}