body {
    font-size: 25px;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.div--header {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: rgb(5, 61, 61);
    
}

.div--header > *{
    margin : auto;
}

.header--logo{
    height: 100%;
    width: 50px;
}

.header--logo img{
    padding-left: 20px;
    padding-top : 10px; 
    width: 100%;
    height: auto;
}

.header--question {
    color: white;
}

.div--header a{
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.div--header a.button{
    padding-bottom: 15px;
    width: 200px;
    height: 20px;
}

.login {
    font-size: 16px;
    background: linear-gradient(45deg, transparent 5%, #41a1d8 5%);
      border: 0;
      color: #fff;
      letter-spacing: 3px;
      box-shadow: 6px 0px 0px #00E6F6;
      outline: transparent;
    padding: 0.5em;
    clear: both;
}


.login:hover{
    background: linear-gradient(45deg, transparent 5%, #9cb5c4 5%);
}  

main {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
}

.grids{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid--first{
    font-size: 40px;
    width: 25%;
    padding: 0;
    color: white;
    float: left;
    text-align: center;
}

.grid--second{
    width: 50%;
    margin-top: 10%;
    padding: 0;
    color: white;
    float: left;
    text-align: center;
}

.grid--third{
    font-size: 40px;
    width: 25%;
    padding: 0;
    color: white;
    float: right;
    text-align: center;
}

  .goto--challenge {
      width: auto;
      height: 56px;
      margin: 0;
      font-size: 28px;
      font-family: 'Bebas Neue';
      background: linear-gradient(45deg, transparent 5%, #41a1d8 5%);
      border: 0;
      color: #fff;
      letter-spacing: 3px;
      box-shadow: 6px 0px 0px #00E6F6;
      outline: transparent;
      text-align: center;
      position: relative;
  }

  .goto--challenge:hover{
    background: linear-gradient(45deg, transparent 5%, #9cb5c4 5%);
  }