body{
    background-color: rgb(5, 61, 61);
}

.first{
    width: 40%;
    height: 40%;
    background-color: #ffffff;
    padding: 1em;
    margin: 50;
}

.second{
    width: 40%;
    height: 40%;
    background-color: rgb(255, 255, 255);   
    padding: 1em;
    margin: 50;
    color: black;
}

.but{
    
    margin-bottom: 0.7rem;
    border-radius: 5px;
    width: 100;
    background: rgb(18, 93, 200);
    font-size: 2.5rem;
    min-width: 100rem;
    clear: both;
}

.buttons{
      width: 30%;
      height: 56px;
      margin: 20;
      font-size: 28px;
      font-family: 'Bebas Neue';
      background: linear-gradient(45deg, transparent 5%, #41a1d8 5%);
      border: 0;
      color: #fff;
      letter-spacing: 3px;
      box-shadow: 6px 0px 0px #00E6F6;
      outline: transparent;
      text-align: center;
      position: relative;
      clear: both;
      margin-left: 50;
      margin-right: 50;
}

.buttons:hover{
    background: linear-gradient(45deg, transparent 5%, #9cb5c4 5%);
}

.text{
    width: 20%;
    color: lightgray;
    font-size: 36;
    margin: 5;
}

#language{
    display:none;
}

#h{
    visibility: hidden;
}