:root{
    background-color: rgb(29, 29, 26);
}

*{
    box-sizing:  border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

