body {
    font-size: 25px;
    background-color: #0B0C10;
    margin: 0;
}

.container{
    background-color: #0B0C10;
    width: 100vw;
    height: 100vh;
    
    font-family: 'Quicksand', sans-serif;
    font-weight: Bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 1fr 100px;

    gap: 10px;

    padding: 10px;

    box-sizing: border-box;
}

.container div{
    padding: 10px;  
}

.div--header {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #1F2833;
}

.div--header > *{
    margin : auto;
}

.header--logo{
    height: 100%;
    width: 50px;
}

.header--logo img{
    padding-left: 20px;
    padding-top : 10px; 
    width: 100%;
    height: auto;
}

.header--question {
    color: white;
}

.div--header a{
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.div--header a.button{
    padding-bottom: 15px;
    width: 200px;
    height: 20px;
}

.first{
    display: block;
    text-align: center;
    grid-row-start: 2; 
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #1F2833;
}

.second{
    display: block;
    text-align: center;
    grid-row-start: 2; 
    grid-row-end: span 1;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #1F2833;
}

.third{
    display: block;
    text-align: center;
    grid-row-start: 2; 
    grid-row-end: span 1;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #1F2833;
}

.infotext{
    margin-bottom: 40px;
    margin-top : 20px;
    color: #C5C6C7;
}

.fttr{
    grid-row-start:4;
    grid-row-end:5;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    text-align: center;
    color: white;
}

.fttr a{  
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 50%;
}
  
.buttons{
    height: 5vh;
    color : #fff;
    text-transform: uppercase;
    background: #45A29E;
    border-radius: 5px;
    display:inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.buttons:hover{
    background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}