*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-editor{
    background: rgba(0,0,0, 0.8);
    display: flex;
    width: 100%;
    padding: 1em;
    position: fixed;
    box-shadow: 2px 3px black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.first{
    width: 40%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre;
    background-color: #ffffff;
    height: 90%;
    display: block;
    position: relative;
    margin: 0 auto;
}

.second{
    width: 40%;
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    height: 90%;
    display: block;
    position: relative;
    margin: 0 auto;
    color: black;
}