body {
    font-size: 25px;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: rgb(5, 61, 61);
    
}

.header > *{
    margin : auto;
}
.header--logo{
    height: 100%;
    width: 50px;
}

.header--logo img{
    padding-left: 20px;
    padding-top : 10px; 
    width: 100%;
    height: auto;
}

.header--question {
    color: white;
}

.header a{
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.header a.button{
    padding-bottom: 15px;
    width: 200px;
    height: 20px;
}


.login {
    font-size: 16px;
    border-color: #922b2b;
    padding: 0.5em;
    border-radius: 1em;
    clear: both;
}
.login:hover{
    background-color: #555;
}

button.login:active {
    margin: 0px;
    background-color: #ff7979;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main--to--HTML {
    left: 0;
    clear: both;
    color: white;
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
}

#main--to--CSS {
    color: white;
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
}

.HTML--buttons{
    padding: 0.5em;
    height:100px;
    width:90%;
    background: #008B8B;
    color: black;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    display: block;
    background: linear-gradient(to right, #5F9EA0  50%,#008B8B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    margin-top: 20px;
}



.HTML--buttons:hover{
  color: #fff;
  cursor: pointer;
  background-position: left bottom;
}


.CSS--buttons {
    padding: 0.5em;
    height:100px;
    width:90%;
    background: #008B8B;
    color: black;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    display: block;
    background: linear-gradient(to left, #5F9EA0 50%, #008B8B 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-out;
    margin-top: 20px;
}

.CSS--buttons:hover{
  color: #fff;
  cursor: pointer;
  background-position: right bottom;
}


footer {
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer--text {
    color: red;
    position: absolute;
    bottom: 3%;
}